---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=123456&fields=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"A9AKbjUVA4H"}}'
  recorded_at: Tue, 14 May 2019 15:49:08 GMT
recorded_with: VCR 4.0.0
