---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=acc35T0k3n&fields=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"21c65ef004f57ff39c5310405068d31d3fa500e3"'
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
    body:
      encoding: UTF-8
      string: '{"email":"existing-user\u0040example.com","id":"10156645598139232"}'
  recorded_at: Tue, 14 May 2019 15:49:07 GMT
recorded_with: VCR 4.0.0
