---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=acc35T0k3n&fields=email,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c3022fda5b18bbce393633590173b11b2844a2a9"'
      X-App-Usage:
      - '{"call_count":5,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
    body:
      encoding: UTF-8
      string: '{"email":"existing-user\u0040example.com","name":"Juan Manuel Ramallo","id":"10156645598139232"}'
  recorded_at: Tue, 21 May 2019 19:44:51 GMT
recorded_with: VCR 4.0.0
